<!DOCTYPE html>
<html lang="de">
<head>
    <title>Calendar</title>
    <link href="templates/static/calendar.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="data:,">
</head>
<body>

{{template "header"}}

<div class="calendar-container">
        <div class="month">
            <form id="calendarForm" method="post" action="/updateCalendar">
                <ul>
                    <li class="prev"><button name="prev" id="prev" type="submit">&#10094;</button></li>
                    <li class="next"><button name="next" id="next" type="submit">&#10095;</button></li>
                    <li>
                        {{.FrontendView.Month}} {{.FrontendView.Year}}<br><br>
                        <select name="chooseMonth" id="chooseMonth">
                            <option value="1" {{if eq .Month 1}} selected {{end}}>Januar</option>
                            <option value="2" {{if eq .Month 2}} selected {{end}}>Februar</option>
                            <option value="3" {{if eq .Month 3}} selected {{end}}>März</option>
                            <option value="4" {{if eq .Month 4}} selected {{end}}>April</option>
                            <option value="5" {{if eq .Month 5}} selected {{end}}>Mai</option>
                            <option value="6" {{if eq .Month 6}} selected {{end}}>Juni</option>
                            <option value="7" {{if eq .Month 7}} selected {{end}}>Juli</option>
                            <option value="8" {{if eq .Month 8}} selected {{end}}>August</option>
                            <option value="9" {{if eq .Month 9}} selected {{end}}>September</option>
                            <option value="10" {{if eq .Month 10}} selected {{end}}>Oktober</option>
                            <option value="11" {{if eq .Month 11}} selected {{end}}>November</option>
                            <option value="12" {{if eq .Month 12}} selected {{end}}>Dezember</option>
                        </select>
                        <input class="select" id="chooseYear" name="chooseYear" type="number" min="0" step="1" value="{{.Year}}"/>
                        <button style="font-size: 16px" name="choose" id="choose" type="submit">Submit</button>
                        <br><br>
                        <button style="font-size: 16px" name="today" id="today" type="submit">Today: {{.GetCurrentDate.Format "02.01.2006"}}</button>
                    </li>
                </ul>
            </form>
            <br>
            <form id="IcalForm" method="post" action="/getIcal">
                <button style="font-size: 16px" name="Ical" id="Ical" type="submit">Kalender exportieren</button>
            </form>
            <br>
            <form id="terminForm" method="post" action="/listTermin">
                <button style="font-size: 16px" name="terminlist" id="terminlist" type="submit">Termine</button>
            </form>
        </div>
    <div class="calendar">
        <span class="day-name">Mon</span>
        <span class="day-name">Tue</span>
        <span class="day-name">Wed</span>
        <span class="day-name">Thu</span>
        <span class="day-name">Fri</span>
        <span class="day-name">Sat</span>
        <span class="day-name">Sun</span>
        {{range .FrontendView.GetDaysBeforeMonthBegin}}
            <div class="day day--disabled"></div>
        {{end}}
        {{$t := .FrontendView.GetAppointmentsForMonth .User}}

        {{if and (eq .FrontendView.Month .FrontendView.GetCurrentDate.Month) (eq .Year .FrontendView.GetCurrentDate.Year)}}
            {{range $day := .FrontendView.GetDaysOfMonth}}
                {{if eq $day $.FrontendView.GetCurrentDate.Day}}
                    <div class="day day-active">{{$day}}{{if gt (index $t $day) 0}}<br><br><br>Termine: {{index $t $day}}{{end}}</div>
                {{else}}
                    <div class="day">{{$day}}{{if gt (index $t $day) 0}}<br><br><br>Termine: {{index $t $day}}{{end}}</div>
                {{end}}
            {{end}}
        {{else}}
            {{range $day := .FrontendView.GetDaysOfMonth}}
                <div class="day">{{$day}}{{if gt (index $t $day) 0}}<br><br><br>Termine: {{index $t $day}}{{end}}</div>

            {{end}}
        {{end}}

    </div>
</div>

</body>
</html>