<!--Matrikelnummern:-->
<!--9495107, 4706893, 9608900-->

<!DOCTYPE html>
<html lang="de">
<head>
    <title>Login</title>
    <link href="templates/static/login.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="data:,">
</head>
<body>

<h1>Login</h1>
<div>
    <form id="loginForm" method="post">
        <div>
            <label for="uname">Username</label>
        </div>
        <div>
            <input name="uname" id="uname" type="text" placeholder="enter username..." required autofocus/>
        </div>
        <br>
        <div>
            <label for="passwd">Password</label>
        </div>
        <div>
            <input name="passwd" id="passwd" type="password" placeholder="enter password..." required/>
        </div>
        <br>
        <button type="submit" name="login" id="login">Submit</button>
    </form>
    <br>
    <div>
        No Account? <a href="/register">Register first.</a>
    </div>
</div>
</body>
</html>