<!--Matrikelnummern:-->
<!--9495107, 4706893, 9608900-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abstimmung</title>
    <link href="templates/static/terminlist.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="data:,">
</head>
<body>

<div class="calendar-container">
    <h1>Abstimmung</h1>
    <form id="votingForm" method="post" action="/terminVoting">
        <div class="terminlist">
            <b>Titel: {{(index .Appointments 0).Title}}</b>
            <br>
            Terminvorschläge: <br>
            {{range $index, $v := .Appointments}}
            <input type="checkbox" id="{{$index}}" name="{{$index}}">
            <label for="{{$index}}">
                    Zeitpunkt:
                    {{.DateTimeStart.Format "02.01.2006 15:04"}}
                    bis
                    {{.DateTimeEnd.Format "02.01.2006 15:04"}}
                    | Wiederholung:
                    {{.GetDescriptionFromInterval}}
                    <br><br>
            </label>
            {{end}}
        </div>
        <button style="font-size: 16px; margin: 10px" name="submitVoting" id="submitVoting" type="submit" value="{{.Value}}">Zusagen</button>
    </form>

</div>

</body>
</html>